:root {
	--main-color: #495e57;
	--secondary-color: #f4ce14;
}

body {
	width: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
a {
	text-decoration: none !important;
	/* color: #000 !important; */
}

li {
	list-style: none;
}

.primaryColor {
	color: #f4ce14;
}
.sectionBG {
	background-color: #495e57;
}
