:root {
	--main-color: #000;
}

body {
	width: 100%;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
a {
	text-decoration: none !important;
	/* color: #000 !important; */
}

li {
	list-style: none;
}
@media screen and (max-width: 768px) {
	ul {
		display: none;
	}
	.bannerImg {
		display: none;
	}
}
@media screen and (min-width: 769px) {
	.bars {
		display: none;
	}
}
